@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


body {
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    z-index: 80;
}

header h1 {
    margin: 0px;
    
}

#navmenubutton {
    position: fixed;
    top: 0;
    left: 0;
    margin: 5px 0px 0px 5px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2em;
    z-index: 85;
    cursor: pointer;
}

#menu {
    background-color: white;
    width: 80%;
    height: 0px;
    position: fixed;

    visibility: hidden;
    overflow-y: hidden;
    transition: 0.6s;
}

#menu.active {
    visibility: visible;
    height: 700px;
    margin-top: 0px;
}

#menu a {
    display: block;
    margin: 40px 20px;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    color: black;
}


#backgroundpicture1 {
    font-family: 'Alfa Slab One', cursive;
    background-image: url(images/guitar.png);
    margin-top: 40px;
    padding-bottom: 40px;
    height: 500px;
    display: flex;
    align-items: end;
    font-size: 0.9em;
    background-size: cover;
    background-position: center;
}

#backgroundpicture1 p {
    text-align: left;
    color: white;
    font-size: 2em;
    margin: 0px 0px 20px 20px;
    width: 200px;
}

#instrumentspictures {
    height: 175px;
    margin-left: 15px;
    background-color: white;
    overflow-x: auto;
    display: flex;
    scroll-behavior: smooth;
}


#instrumentspictures::-webkit-scrollbar {
    display: none;
}

.init-hidden {
    opacity: 0;
    transition: opacity 0.5s linear;
}

.init-hidden-off {
    opacity: 1;
}

#articlecall {
   padding-top: 45px;
    background-color: rgb(0, 0, 0);
    transition: .5s;
}



#articlecall a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px;
    width: 100%;
    text-align: right;
    font-family: 'Alfa Slab One', cursive;
    font-size: 0.8em;
}

#articlecall h2 {
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 15px 0px 0px 0px;
    
}

#articlecall p {
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 15px;
}

#backgroundpicture2 {
    background-image: url(images/womanguitar.png);
    height: 300px;
    margin: 0px;
    display: flex;
    align-items: end;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

#shoplink {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1150px;
}

#signatureguitars {
    height: 350px;
    background-image: url(images/guitars.png);
    margin: 10px;
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-size: 1.5em;
    display: flex;
    align-items: end;
    justify-content: right;
    background-size: cover;
    background-position: center;
}

#signatureguitars p {
    margin: 0px 20px 20px 0px;
}

#t-shirts {
    height: 350px;
    background-image: url(images/tshirts.png);
    margin: 10px;
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-size: 1.5em;
    display: flex;
    align-items: end;
    justify-content: right;
    background-size: cover;
    background-position: center;
}

#t-shirts p {
    margin: 0px 20px 20px 0px;
}

#pedal {
    height: 350px;
    background-image: url(images/pedal.png);
    margin: 10px;
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-size: 1.5em;
    display: flex;
    align-items: end;
    justify-content: right;
    background-size: cover;
    background-position: center;
}

#pedal p {
    margin: 0px 20px 20px 0px;
}

#contentlink {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1100px;
    background-color: black;
}

#festival {
    height: 350px;
    background-image: url(images/festival.png);
    margin: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Alfa Slab One', cursive;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    background-size: cover;
    background-position: center;
}

#festival h3 {
    font-size: 1.1em;
    margin: 0px 15px 5px 0px;
}

#festival p {
    font-size: 0.8em;
    margin: 0px 20px 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#children {
    height: 350px;
    background-image: url(images/children.png);
    margin: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Alfa Slab One', cursive;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    background-size: cover;
    background-position: center;
}

#children h3 {
    font-size: 1.1em;
    margin: 0px 15px 5px 0px;
}

#children p {
    font-size: 0.8em;
    margin: 0px 20px 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#solo {
    height: 350px;
    background-image: url(images/solo.png);
    margin: 10px;
    color: rgb(1, 1, 1);
    font-family: 'Alfa Slab One', cursive;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    background-size: cover;
    background-position: center;
}

#solo h3 {
    font-size: 1.1em;
    margin: 0px 15px 5px 0px;
}

#solo p {
    font-size: 0.8em;
    margin: 0px 20px 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    height: 150px;
    background-color: rgb(34, 30, 30);
    padding: 25px;
    text-align: center;
}

.footer p {
    color: white;
    font-size: 0.8em;  
}

/*
    Article about J Charllote
*/

#JCarticle p {
    padding: 15px;
    text-align: justify;
    text-indent: 30px;
}

#backgroundarticle {
    background-image: url(images/Jcharllote.png);
    margin-top: 40px;
    height: 500px;
    display: flex;
    align-items: end;
    background-size: cover;
    background-position: center;
}

#backgroundarticle p {
    text-align: left;
    color: white;
    font-size: 2em;
    margin: 0px 0px 20px 20px;
}

#jcshow {
    background-image: url(images/jcshow.png);
    height: 300px;
    background-size: cover;
    background-position: center;
}

/*
    Electric Instruments Section
*/

#mainelectric h2 {
    margin-top: 70px;
    margin-bottom: 50px;
}

#electricinst {
    height: 1600px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
}

.electricclass {
    width: 130px;
    height: 300px;
    background-color: black;
    border: 1px solid rgb(6, 6, 6);
    display: flex;
    justify-content: center;
    align-items: end;
    background-size: cover;
    background-position: center;
}

.electricclass p  {
    color: black;
    background-color: white;
    margin: 0px;
    padding: 5px;
    font-size: 0.7em;
}

#electric1 {
   background-image: url(images/electricinst1.png);
}

#electric2 {
    background-image: url(images/electricinst2.png); 
}

#electric3 {
    background-image: url(images/electricinst3.png); 
}

#electric4 {
    background-image: url(images/electricinst4.png); 
}

#electric5 {
    background-image: url(images/electricinst5.png);
 }
 
 #electric6 {
     background-image: url(images/electricinst6.png); 
 }
 
 #electric7 {
     background-image: url(images/electricinst7.png); 
 }
 
 #electric8 {
     background-image: url(images/electricinst8.png); 
 }